<div class="add__ons-container">
  <div class="sidebar__container">
    <app-sidebar></app-sidebar>
  </div>
  <div class="add__ons-content">
    <div class="addOns__text-container">
      <h1 class="addOns__text">Pick add-ons</h1>
      <p class="addOns__paragrah">
        Add-ons help enhance your gaming experience.
      </p>
    </div>

    <div class="add__ons-type">
      @for(addOn of addOns; track $index){
      <div class="add__on-item" (keydown)="toggleAddOn($index)" (click)="toggleAddOn($index)">
        <div class="add__ons-select-container">
          <input
            type="checkbox"
            class="add__ons-checkbox"
            [checked]="addOn.isSelected"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
          />
          <div class="add__ons-text-container">
            <h2 class="add__ons-text">{{ addOn.name }}</h2>
            <p class="add__ons-paragrah">{{ addOn.description }}</p>
          </div>
        </div>
        <p class="add__ons-price">{{ isYearly ? (addOn.yearlyPrice | currency:'USD':'symbol':'1.0-1') + '/yr' : (addOn.monthlyPrice | currency:'USD':'symbol':'1.0-1') + '/mo' }}</p>
      </div>
      }
    </div>
    <div class="button__container">
      <button class="transparent__btn" (click)="goBack()">Go Back</button>
      <button class="custom__btn" type="submit" (click)="nextStep()">
        Next Step
      </button>
    </div>
  </div>
</div>
