<div class="yourInfo__container">
  <div class="yourInfo__sidebar-container">
    <app-sidebar></app-sidebar>
  </div>

  <div class="yourInfo__content">

    <div class="yourInfo__text-container">
      <h1 class="yourInfo__text">Personal Info</h1>
      <p class="yourInfo__paragrah">Please provide your name, email address, and phone number.</p>
    </div>

    <form class="form__container" [formGroup]="yourInfoForm" (ngSubmit)="onSubmit()">
      @for(field of fields; track $index) {
      <div class="yourInfo__form-group" [class.error]="yourInfoForm.get(field.name)?.touched && yourInfoForm.get(field.name)?.invalid">
        <label [for]="field.name">{{ field.label }}</label>
        <input
          [type]="field.type"
          [id]="field.name"
          [placeholder]="field.placeholder"
          [formControlName]="field.name"
        />
        @if(yourInfoForm.get(field.name)?.touched && yourInfoForm.get(field.name)?.invalid) {
          <span class="error-message">
            This field is required
          </span>
        }
      </div>
    }
      <div class="button__container">
        <button class="custom__btn" type="submit">Next Step</button>
    </div>
    </form>
  </div>
</div>
