:root {
  --color-background: #EFF5FF;
  --color-multi-step-background: white;
  --color-denim: #022959;
  --color-grey: #9699AA;
  --color-sky-blue: #BEE2FD;
  --color-deep-blue: #483EFF;
  --color-text-blue: #ABBCFF;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', Arial, sans-serif;
  background-color: var(--color-background);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom__btn {
  width: 123px;
  border-radius: 8px;
  padding: 14px 24px 16px 25px;
  border: none;
  background-color: var(--color-denim);
  color: var(--color-multi-step-background);
  font-family: Ubuntu;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1 487rem;
  text-align: left;
  cursor: pointer;
}
